@import "./reset";

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);
$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);
$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);

@mixin content-size() {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin desktop() {
  @media (min-width: 800px) {
    @content;
  }
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: $Very-Dark-Blue;
}

header {
  @include content-size();

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    .logo {
      width: clamp(7rem, calc(6.7rem + 1vw), 10rem);
    }

    .menu {
      min-width: clamp(12rem, calc(11.7rem + 3vw), 17rem);
      display: flex;
      justify-content: space-between;

      .menu-item {
        text-decoration: none;
        font-size: clamp(0.9rem, calc(0.6rem + 1vw), 1rem);
        color: $Very-Dark-Blue;
        transition: color 200ms;

        &:hover {
          color: $Bright-Blue;
        }
      }
    }
  }
}

%copy {
  font-size: clamp(0.9rem, calc(0.6rem + 1vw), 1.1rem);
  line-height: 1.5em;
}

main {
  display: flex;
  flex-direction: column;

  .hero-section {
    @include content-size();
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 6rem auto;

    @include desktop() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      align-items: center;
    }

    .hero-graphic {
      width: 80%;
      margin: 0 auto;

      @include desktop() {
        order: 2;
      }
    }

    .hero-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      text-align: center;
      color: $Very-Dark-Blue;

      @include desktop() {
        align-items: flex-start;
        text-align: left;
      }

      .hero-title {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: clamp(1.7rem, calc(1.4rem + 1vw), 2.2rem);
        line-height: 1.5em;
      }

      .hero-copy {
        @extend %copy;
        width: 90%;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        width: 90%;
        margin: 0 auto;
        position: relative;

        @include desktop() {
          margin: 0;
          flex-direction: row;

          input[type="email"] {
            width: 45%;
          }

          button {
            width: 30%;
            min-width: 8rem;
          }
        }

        input[type="email"] {
          padding: 0.8em 1.5em;
          border: 1px solid $Very-Dark-Blue;
          border-radius: 0.2em;
          transition: border-color 200ms;
          color: $Very-Dark-Blue;

          &::placeholder {
            color: $Light-Gray;
          }

          &:focus {
            border-color: $Bright-Blue;
          }

          &:invalid {
            border-color: #d97695;
          }
        }

        input[type="email"]:invalid + span::after {
          content: "Please check your email";
          color: #d97695;
          text-align: left;
          display: block;
          margin-top: -0.3rem;
          font-size: 0.8rem;

          @include desktop() {
            position: absolute;
            top: 3.5rem;
            left: 0;
          }
        }

        button {
          background-color: $Bright-Blue;
          border: none;
          color: white;
          padding: 0.8em;
          border-radius: 0.3em;
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: 0.9rem;
          transition: background-color 200ms;

          &:hover {
            background-color: #6b9bff;
          }
        }
      }
    }
  }

  .curve {
    width: 100%;
    margin-top: 3rem;

    @include desktop() {
      content: url("../images/bg-curve-desktop.svg");
    }
  }

  .second-section {
    position: relative;
    background-color: #f8f8fe;
    padding-bottom: 6rem;

    .second-section-content {
      @include content-size();
      display: flex;
      flex-direction: column;

      @include desktop() {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
        padding: 4rem 0;
      }

      .info-graphic {
        width: 80%;
        margin: 3rem auto;

        @include desktop() {
          order: 2;
          margin: auto;
        }
      }

      .section-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;

        @include desktop() {
          text-align: left;
          align-items: flex-start;
        }

        .info-title {
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: clamp(1.2rem, calc(0.9rem + 1vw), 1.8rem);
          line-height: 1.5em;
        }

        .info-copy {
          @extend %copy;
          text-align: left;
        }

        .info-link {
          text-decoration: none;
          color: $Moderate-Cyan;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4rem;
          border-bottom: 1px solid $Moderate-Cyan;
          padding-bottom: 0.5em;
          width: auto;
          margin: 1rem auto;
          transition: color 200ms, border-color 200ms;

          @include desktop() {
            margin: 1rem 0;
          }

          .arrow-icon {
            min-width: 1rem;
            min-height: 1rem;
            background-color: $Moderate-Cyan;
            mask: url("../images/icon-arrow.svg") no-repeat center;
            margin-top: 0.1rem;
            transition: background-color 200ms;
          }

          &:hover {
            color: #73d6c1;
            border-color: #73d6c1;

            .arrow-icon {
              background-color: #73d6c1;
            }
          }
        }

        .testimonial {
          width: 75%;
          margin: 0 auto;
          background-color: white;
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.08);
          padding: 3rem;
          text-align: left;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          border-radius: 0.3em;

          @include desktop() {
            margin: 0;
            max-width: 20rem;
          }

          .quote-icon {
            width: 1rem;
          }

          .review {
            font-size: clamp(0.85rem, calc(0.55rem + 1vw), 1rem);
            line-height: 1.5em;
          }

          .reviewer-info {
            display: flex;
            gap: 0.7rem;
            margin-top: 0.8rem;

            .reviewer-profile {
              max-width: 2.2rem;
              max-height: 2.2rem;
              border-radius: 50%;
            }

            .reviewer-name-status {
              display: flex;
              flex-direction: column;
              gap: 0.4rem;

              .reviewer-name {
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 1rem;
              }

              .reviewer-status {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }

  aside {
    background-color: $Desaturated-Blue;
    padding: 4rem 0;

    .sign-up {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: white;
      width: 75%;
      margin: 0 auto;

      @include desktop() {
        @include content-size();
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        text-align: left;
        align-items: center;

        .sign-up-copy {
          width: 80%;
        }
      }

      .sign-up-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        width: 90%;
        margin: 0.5rem auto 0 auto;

        input[type="email"] {
          padding: 0.8em 1.5em;
          border: 1px solid $Very-Dark-Blue;
          border-radius: 0.2em;
          transition: border-color 200ms;
          color: $Very-Dark-Blue;

          &::placeholder {
            color: $Light-Gray;
          }

          &:focus {
            border-color: $Bright-Blue;
          }

          &:invalid {
            border-color: #d97695;
          }
        }

        input[type="email"]:invalid + span::after {
          content: "Please check your email";
          color: white;
          text-align: left;
          display: block;
          margin-top: -0.3rem;
          font-size: 0.8rem;
        }

        button {
          background-color: $Bright-Blue;
          border: none;
          color: white;
          padding: 0.8em;
          border-radius: 0.3em;
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: 0.9rem;
          transition: background-color 200ms;

          @include desktop() {
            width: 40%;
            min-width: 14rem;
          }

          &:hover {
            background-color: #6b9bff;
          }
        }
      }

      .sign-up-title {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: clamp(1.2rem, calc(0.9rem + 1vw), 1.8rem);
        line-height: 1.5em;
      }

      .sign-up-copy {
        @extend %copy;
      }
    }
  }
}

footer {
  background-color: $Very-Dark-Blue;
  padding: 4rem 0;
  color: white;

  .footer-content {
    @include content-size();
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include desktop() {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
      grid-template-rows: repeat(2, auto);
      align-items: start;

      a {
        grid-area: 1/1 /2 /-1;
      }
    }

    .footer-logo {
      max-width: 9rem;
    }

    .company-info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .info-piece {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
      }

      .info-icon {
        max-width: 1.2rem;
      }
    }

    .menu1 {
      margin: 1.5rem 0;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include desktop() {
        margin: 0;
      }

      .footer-menu-item {
        color: white;
        text-decoration: none;
        transition: color 200ms;

        &:hover {
          color: $Desaturated-Blue;
        }
      }
    }

    .menu2 {
      @extend .menu1;
      margin: 0;
    }

    .social {
      display: flex;
      gap: 1.2rem;
      justify-content: center;

      @include desktop() {
        justify-content: flex-start;
      }

      li {
        border: 1px solid white;
        min-width: 2rem;
        min-height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 1.1rem;
        padding: 0.1rem;
        transition: border-color 200ms;

        .fa-brands {
          color: white;
          transition: color 200ms;
        }

        &:hover {
          .fa-brands {
            color: $Desaturated-Blue;
          }
          border-color: $Desaturated-Blue;
        }
      }
    }
  }
}
